.navbar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 12px 0px;
    height: 76px;
    background-color: white;
}
.navLogo{
    display: flex;
    align-items: center;
    
}
.navLogo img{
    width: 185px;
    height: 41px;
}
.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-family: "Poppins-Medium";
    font-size: 16px;
}
.navMenu li{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.navMenu a{
    text-decoration: none;
    color: black;
}


.buttonsDiv{
    display: flex;
    align-items: center;
    gap: 45px;
}




@media only screen and (max-width:900px){

}