.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 0px 7%;
}
.footerTop{
    display: flex;
    justify-content: space-between;
}
.footerLogo{
    display: flex;
    gap: 85px;
}
.footerLogo img{
    width: 135px;
    height: 50px;
}
.footerLogo p{
    width: 83%;
    height: 72px;
    font-family: "Poppins-Regular";
    color: #9f9f9f;
    font-size: 16px;
}
.midFooter{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
}
.footerLinks{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: "Poppins-Medium";
    color: #000000;
    font-size: 16px;
    gap: 20px;
}
.footerLinks h3{
    font-family: "Poppins-Medium";
    font-size: 16px;
    margin-top: 0;
}
.footerLinks li{
    cursor: pointer;
}
.footerLinks a{
    text-decoration: none;
    color: #000000;
}

.footerCopyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 100%;
    margin-bottom: 30px;
    font-family: "Poppins-Regular";
    color: #000000;
    font-size: 16px;
}
.footerCopyright hr{
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 1px;
    background: #d9d9d9;
}

